RewriteEngine On

# Pastikan tidak memproses file atau folder yang memang ada
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Hilangkan .php dari URL
RewriteRule ^(.+)$ $1.php [L,QSA]