@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Belanosima&family=Kanit:wght@200&family=Lexend+Peta&family=Martian+Mono&family=Signika+Negative&family=Varela+Round&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  overflow-x: hidden;
  font-weight: 300;
}
.wrapper{
    display: flex;
    font-family: 'Belanosima', sans-serif;
  }
  .wrapper .static-txt{
    color: red;
    font-size: 60px;
    font-weight: 400;
    position: relative;
    bottom: 5px;
  }
  .wrapper .dynamic-txts{
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }
  .dynamic-txts li{
    list-style: none;
    color: black;
    font-size: 50px;
    font-weight: 500;
    position: relative;
    top: 0;
    right: 15px;
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
    100%{
      top: -360px;
    }
  }
  .dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #ECF0F3;
    border-left: 2px solid #FC6D6D;
    animation: typing 3s steps(10) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }
.section{
    height: 100vh;
}

.welcome {
    color: #000;
    padding-top: 200px;
}

.welcome .small {
    font-size: 15px;
    letter-spacing: 5px;
}

.welcome .myname {
    font-size: 70px;
    letter-spacing: 3px;
    font-family: 'Belanosima', sans-serif;
}
.welcome .myname2 {
    color: red;
}
.welcome .skills {
    
    letter-spacing: 3px;
    font-family: 'Belanosima', sans-serif;
    color: red;
}

.welcome .deskripsi {
    text-align: justify;
    width: 80%;
    font-family: 'Kanit', sans-serif;
}

.welcome .findme {
    font-family: 'Martian Mono', monospace;
}

.imagehome{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40%;
    border-radius: 20px;
}

.btn-sosial{
    background-color: white;
    border: none;
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.btn-sosial:hover{
    background-color: red;
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(255, 0, 0, 0.3);
}

.headertitle{
    font-size: 40px;
    font-family: 'Martian Mono', monospace;
    text-align: center;
    padding-top: 50px;
}

.desktitle{
    font-family: 'Martian Mono', monospace;
    text-align: center;
    padding-top: 50px;
    color: red;
}

.card-porto{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-porto .card{
    color: rgb(80, 78, 78);
    width: 22rem;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    padding: 20px 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    font-family: 'Signika Negative', sans-serif;
    
}

.card-porto .card:hover{
    box-shadow: 10px 10px 10px rgba(255, 0, 0, 0.3);
}


.card-porto img{
    border-radius: 30px;
    padding: 10px;
}

.link{
    text-decoration:none;
}

.closemodal{
    border: none;
    width: 40px;
    height: 40px;
    color:red;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.closemodal:hover{
    border: none;
    width: 40px;
    height: 40px;
    color:white;
    background-color: red;
    box-shadow: 10px 10px 10px rgba(255, 0, 0, 0.3);
}
.modal-dialog{
    
}
.modal-content{
    padding: 30px 30px;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
}
.imagemodal{
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

.modalbody2{
    padding-left: 10px;
    font-family: 'Signika Negative', sans-serif;
}
.titlemodal{
    font-size: 30px;
}

.deskripsimodal{
    font-family: 'Varela Round', sans-serif;
}

.btnbro{
    font-family: 'Varela Round', sans-serif;
    color: red;
    background-color: whitesmoke;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnbro:hover{
    font-family: 'Varela Round', sans-serif;
    color: white;
    background-color: red;
    box-shadow: 10px 10px 10px rgba(255, 0, 0, 0.3);
}


.skiilss {
    width: min(60rem, 90%);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    justify-content: center;
    gap: 2rem;
    list-style: none;
  }
  
  .skiilss li {
    max-width: 12rem;
    justify-self: center;
    display: grid;
    grid-template:
      "icon"
      "line"
      "dot"
      "title"
      "descr" 1fr;
    justify-items: center;
    align-items: flex-start;
    text-align: center;
  }
  
  .skiilss li .icon {
    grid-area: icon;
    width: 6rem;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    color: white;
    font-size: 2.5rem;
    border: 0.4rem solid var(--bgColor);
    border-radius: 50%;
    background: var(--accent-color);
    box-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.45),
      inset -0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.45);
  }

  .skiilss li .icon img {
   width: 40px;
  }
  
  .skiilss li::before {
    content: "";
    grid-area: line;
    height: 2rem;
    border-right: 2px dotted currentColor;
  }
  
  .skiilss li::after {
    content: "";
    grid-area: dot;
    width: 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--accent-color);
    justify-self: center;
    margin-bottom: 0.5rem;
  }
  
  .skiilss li .title {
    grid-area: title;
    margin-block: 0.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }
  
  .btngroupbro{
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    border: 0 none;
    border-radius: 10px;
  }

  .btngroupbro2{
    width: 250px;
    border: 0 none;
  }

  .btngroupbro2:hover{
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgba(255, 0, 0, 0.3);
    border: 0 none;
  }

  #buttongroupawal .btngroupbro2.active{
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgba(255, 0, 0, 0.3);
    border: 0 none;
  }
  .timeline_area {
    position: relative;
    z-index: 1;
}
.single-timeline-area {
    position: relative;
    z-index: 1;
    padding-left: 180px;
}

.footer{
   padding: 50px 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Signika Negative', sans-serif;
}

@media only screen and (max-width: 575px) {
    .single-timeline-area {
        padding-left: 100px;
    }
}
.single-timeline-area .timeline-date {
    position: absolute;
    width: 180px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 60px;
}
@media only screen and (max-width: 575px) {
    .single-timeline-area .timeline-date {
        width: 100px;
    }
}
.single-timeline-area .timeline-date::after {
    position: absolute;
    width: 3px;
    height: 100%;
    content: "";
    background-color: #ebebeb;
    top: 0;
    right: 30px;
    z-index: 1;
}
.single-timeline-area .timeline-date::before {
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: red;
    content: "";
    top: 50%;
    right: 26px;
    z-index: 5;
    margin-top: -5.5px;
}

.single-timeline-area .timeline-date p {
    margin-bottom: 0;
    color: #020710;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
}
.single-timeline-area .single-timeline-content {
    position: relative;
    z-index: 1;
    padding: 30px 30px 25px;
    border-radius: 6px;
    margin-bottom: 15px;
    margin-top: 15px;
    -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    border: 1px solid #ebebeb;
}

.single-timeline-area .single-timeline-content:hover {
    position: relative;
    z-index: 1;
    padding: 30px 30px 25px;
    border-radius: 6px;
    margin-bottom: 15px;
    margin-top: 15px;
    -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    border: 1px solid #ebebeb;
    background-color: rgb(255, 0, 0);
    color: white;
}
@media only screen and (max-width: 575px) {
    .single-timeline-area .single-timeline-content {
        padding: 20px;
    }
}
.single-timeline-area .single-timeline-content .timeline-icon {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 30px;
    height: 30px;
    background-color: black;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    text-align: center;
    max-width: 30px;
    border-radius: 50%;
    margin-right: 15px;
}
.single-timeline-area .single-timeline-content .timeline-icon i {
    color: #ffffff;
    line-height: 30px;
}
.single-timeline-area .single-timeline-content .timeline-text h6 {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}
.single-timeline-area .single-timeline-content .timeline-text p {
    font-size: 13px;
    margin-bottom: 0;
}
.single-timeline-area .single-timeline-content:hover .timeline-icon,
.single-timeline-area .single-timeline-content:focus .timeline-icon {
    background-color: red;
}
.single-timeline-area .single-timeline-content:hover .timeline-text h6,
.single-timeline-area .single-timeline-content:focus .timeline-text h6 {
    color: red;
}

@media only screen and (max-width: 600px) {
    .section{
        height: 100%;
    }

    .wrapper{
        display: flex;
        position: relative;
        bottom: 20px;
        font-family: 'Belanosima', sans-serif;
      }
      .wrapper .static-txt{
        color: red;
        font-size: 40px;
        font-weight: 400;
        position: relative;
        top: 13px;
      }
      .wrapper .dynamic-txts{
        height: 90px;
        line-height: 90px;
        overflow: hidden;
      }
      .dynamic-txts li{
        list-style: none;
        color: black;
        font-size: 30px;
        font-weight: 500;
        position: relative;
        top: 0;
        right: 5px;
        animation: slide 12s steps(4) infinite;
      }
      @keyframes slide {
        100%{
          top: -360px;
        }
      }
      .dynamic-txts li span{
        position: relative;
        margin: 5px 0;
        line-height: 90px;
      }
      .dynamic-txts li span::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #ECF0F3;
        border-left: 2px solid #FC6D6D;
        animation: typing 3s steps(10) infinite;
      }
      @keyframes typing {
        40%, 60%{
          left: calc(100% + 30px);
        }
        100%{
          left: 0;
        }
      }
    .welcome {
        color: #000;
        padding-top: 80px;
    }

    .welcome .small {
        font-size: 15px;
        letter-spacing: 5px;
    }
    
    .welcome .myname {
        font-size: 35px;
        letter-spacing: 3px;
        font-family: 'Belanosima', sans-serif;
    }
    .welcome .myname2 {
        color: red;
    }
    .welcome .skills {
        font-size: 30px;
        letter-spacing: 3px;
        font-family: 'Belanosima', sans-serif;
    }
    .welcome .skills {
        font-size: 30px;
        letter-spacing: 3px;
        font-family: 'Belanosima', sans-serif;
    }
    .welcome .deskripsi {
        text-align: justify;
        font-family: 'Kanit', sans-serif;
        position: relative;
        bottom: 40px;
    }
    .imagehome{
    width: 100%;
    display: flex;
    padding: 10px;
    border-radius: 20px;
    }
    .card-porto .card{
        color: rgb(80, 78, 78);
        width: 20rem;
        background: linear-gradient(145deg, #e2e8ec, #ffffff);
        padding: 20px 20px;
        border-radius: 30px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
        font-family: 'Signika Negative', sans-serif;
        
    }
    
  .btngroupbro{
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    border: 0 none;
    border-radius: 10px;
  }

  .btngroupbro2{
    width: 115px;
    border: 0 none;
  }

  
.modal-content{
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
}
.imagemodal{
    width: 100%;
    height: 100px;
    border-radius: 20px;
}

.modalbody2{
    padding: 10px;
    font-family: 'Signika Negative', sans-serif;
}
.titlemodal{
    font-size: 30px;
}

.deskripsimodal{
    font-family: 'Varela Round', sans-serif;
}

  }


  
@media only screen and (max-width: 1000px) {
    .section{
        height: 100%;
    }

    .wrapper{
        display: flex;
        position: relative;
        bottom: 20px;
        font-family: 'Belanosima', sans-serif;
      }
      .wrapper .static-txt{
        color: red;
        font-size: 40px;
        font-weight: 400;
        position: relative;
        top: 13px;
      }
      .wrapper .dynamic-txts{
        height: 90px;
        line-height: 90px;
        overflow: hidden;
      }
      .dynamic-txts li{
        list-style: none;
        color: black;
        font-size: 30px;
        font-weight: 500;
        position: relative;
        top: 0;
        right: 15px;
        animation: slide 12s steps(4) infinite;
      }
      @keyframes slide {
        100%{
          top: -360px;
        }
      }
      .dynamic-txts li span{
        position: relative;
        margin: 5px 0;
        line-height: 90px;
      }
      .dynamic-txts li span::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #ECF0F3;
        border-left: 2px solid #FC6D6D;
        animation: typing 3s steps(10) infinite;
      }
      @keyframes typing {
        40%, 60%{
          left: calc(100% + 30px);
        }
        100%{
          left: 0;
        }
      }

    .welcome {
        color: #000;
        padding-top: 80px;
    }

    .welcome .small {
        font-size: 15px;
        letter-spacing: 5px;
    }
    
    .welcome .myname {
        font-size: 35px;
        letter-spacing: 3px;
        font-family: 'Belanosima', sans-serif;
    }
    .welcome .myname2 {
        color: red;
    }
    .welcome .skills {
        font-size: 30px;
        letter-spacing: 3px;
        font-family: 'Belanosima', sans-serif;
    }
    .welcome .deskripsi {
        text-align: justify;
        font-family: 'Kanit', sans-serif;
        position: relative;
        bottom: 40px;
    }
    .imagehome{
    width: 100%;
    display: flex;
    padding: 10px;
    border-radius: 20px;
    }

    .card-porto .card{
        color: rgb(80, 78, 78);
        width: 20rem;
        background: linear-gradient(145deg, #e2e8ec, #ffffff);
        padding: 20px 20px;
        border-radius: 30px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
        font-family: 'Signika Negative', sans-serif;
        
    }

    .imagemodal{
        width: 100%;
        height: 180px;
        border-radius: 20px;
    }

  }